*.iml
.gradle
.kotlin

.build/
.kotlin/

/local.properties

# IntelliJ .idea folder
.idea/workspace.xml
.idea/misc.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/other.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/androidTestResultsUserPreferences.xml
.idea/appInsightsSettings.xml
.idea/artifacts
.idea/gradle.xml
gradle.xml
.fleet

# Do not commit firebase config
google-services.json

.DS_Store
/build

/captures
.externalNativeBuild
.cxx
local.properties
